<div class="marquee1">
    <p class="text-4xl font-extrabold uppercase inline-block px-4 py-2 text-[#0a3055]">Network Status</p>
</div>

<div>
    <app-summaryviewnetwork [data]="networkData"></app-summaryviewnetwork>
</div>

<div>
    <app-toggle-button (viewChange)="onViewChange($event)"></app-toggle-button>
</div>

<div *ngIf="isGrid">
    <app-gridviewnetwork [data]="networkData"></app-gridviewnetwork>
</div>

<div *ngIf="!isGrid">
    <app-tableviewnetwork [data]="networkData"></app-tableviewnetwork>
</div>