<div class="marquee1">
    <p class="text-4xl font-extrabold uppercase inline-block px-4 py-2 text-[#0a3055]">Daily Backup Status</p>
</div>

<div>
    <app-summaryviewdailyback [data]="dailyBackupData"></app-summaryviewdailyback>
</div>

<div>
    <app-toggle-button (viewChange)="onViewChange($event)"></app-toggle-button>
</div>

<div *ngIf="isGrid">
    <app-gridviewdailyback [data]="dailyBackupData"></app-gridviewdailyback>
</div>

<div *ngIf="!isGrid">
    <app-tableviewdailyback [data]="dailyBackupData"></app-tableviewdailyback>
</div>