<div class="marquee1">
    <p class="text-4xl font-extrabold uppercase inline-block px-4 py-2 text-[#0a3055]">Backoffice Status</p>
</div>

<div>
    <app-summaryviewbackoffice [data]="backofficeData"></app-summaryviewbackoffice>
</div>

<div>
    <app-toggle-button (viewChange)="onViewChange($event)"></app-toggle-button>
</div>

<div *ngIf="isGrid">
    <app-gridviewbackoffice [data]="backofficeData"></app-gridviewbackoffice>
</div>

<div *ngIf="!isGrid">
    <app-tableviewbackoffice [data]="backofficeData"></app-tableviewbackoffice>
</div>