<div class="marquee1">
    <p class="text-4xl font-extrabold uppercase inline-block px-4 py-2 text-[#0a3055]">Memoryutilization Status</p>
</div>

<div>
    <app-summaryviewmemutil [data]="memutilData"></app-summaryviewmemutil>
</div>

<div>
    <app-toggle-button (viewChange)="onViewChange($event)"></app-toggle-button>
</div>

<div *ngIf="isGrid">
    <app-gridviewmemutil [data]="memutilData"></app-gridviewmemutil>
</div>

<div *ngIf="!isGrid">
    <app-tableviewmemutil [data]="memutilData"></app-tableviewmemutil>
</div>