@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .marquee {
    position: relative;
    right: 0; /* Position it to the right */
    animation: marquee 10s linear 1;
  }

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
